.flash
  = flash[:success]
.good
  = flash[:good]
.delete
  = flash[:delete]
.basic
  %h1 Basic Ability Form
  .basic__index
    .basic__index__basic-ability
      %h2 基礎能力を入力しよう！
      = form_with model: @basic,local: true do |f|
        = f.select :name, [["能力を選んでね。",""],["コミュ力","コミュ力"],["企画力","企画力"],["明るさ","明るさ"],["気遣い力","気遣い力"],["モテ力","モテ力"],["気が利く","気が利く"],["真面目度","真面目度"],["共感力","共感力"],["貯蓄","貯蓄"],["幸福度","幸福度"],["面白さ","面白さ"]],class:"basic__index__basic-ability__form"
        <br>
        = f.number_field :number,placeholder:"数値(0~100)",class:"basic__index__basic-ability__number"
        <br>
        = f.submit '基礎能力を追加する！',class:"basic__index__basic-ability__btn"
    .basic__index__original-ability
      %h2 オリジナル能力はこちらから！
      = form_with model: @basic,local: true do |f|
        = f.text_field :name,placeholder:"能力名",class:"basic__index__original-ability__name"
        <br>
        = f.number_field :number,placeholder:"数値(0~100)",class:"basic__index__original-ability__number"
        <br>
        = f.submit 'オリジナル能力を追加する！',class:"basic__index__original-ability__btn"
        <br>
  .basic__form
    %h3
      プレビュー
    .index__ability
      = render'/basics/basic'
  =link_to "作成画面に戻る",user_path(current_user.id),method: :get,class:"back-link"
