= render partial:'/users/header'
.flash
  = flash[:success]
.good
  = flash[:good]
.delete
  = flash[:delete]
.wrapper
  .side-bar
    入力フォーム
    .list
      %li
        -if @user.basics.count < 6
          =link_to "基礎能力を決める",new_basic_path,class:"list__basic"
        - else
          %h1.list__notise
            基礎能力は6つまで！
            <br>
            削除ボタンで削除してね
      %li
        =link_to "特殊能力を作る",new_special_path,class:"list__special"
  .main-view
    .status
      .status__name
        =current_user.nickname
        <br>
        .status__name__edit
          =link_to "編集",edit_user_path(current_user.id),method: :get,class:"link__edit"
      .status__image
        = image_tag src=current_user.image.to_s, size: "200x200"
      .index__ability
        = render partial:'/basics/basic',basics: @basics
    .special
      = render partial:'/specials/special',specials: @specials



