.new-special
  %h1 Special Ability Form
  .new-special__index
    .new-special__index__special-ability
      %h2 特殊能力を選ぼう！
      = form_with model: @special, local: true do |f|
        = f.select :name, [["能力を選んでね。",""],["対ピンチ○","対ピンチ○"],["対変な人○","対変な人○"],["ムードメーカー","ムードメーカー"],["満員電車○","満員電車○"],["集中力","集中力"],["気が利く","気が利く"],["調子安定","調子安定"],["多趣味","多趣味"],["家計管理○","家計管理○"],["コミュニケーション○","コミュニケーション○"],["月曜日○","月曜日○"]],class:"new-special__index__special-ability__form"
        <br>
        = f.submit '特殊能力を追加する！',class:"new-special__index__special-ability__btn"
    .new-special__index__original-ability
      %h2 オリジナル能力はこちらから！
      = form_with model: @special, local: true do |f|
        = f.text_field :name,id: "original-name",class:"new-special__index__original-ability__form"
        <br>
        = f.submit 'オリジナル特殊能力を追加する！',class:"new-special__index__original-ability__btn"
        <br>
  .new-special__form
    %h3
      プレビュー
    .new-special__form__index
      = render'/specials/special'
  =link_to "戻る",user_path(current_user.id),method: :get,class:"back-link"


