
.name
  %h1 各基礎能力を選んでいる人
  .name__index
    %h1.name__index__name 共感力
    %h1.name__index__count="#{@mem.count("name")}人"
  .name__index
    %h1.name__index__name モテ力
    %h1.name__index__count="#{@mote.count("name")}人"
  .name__index
    %h1.name__index__name 企画力
    %h1.name__index__count="#{@kikaku.count("name")}人"
  .name__index
    %h1.name__index__name 貯蓄
    %h1.name__index__count="#{@tyotiku.count("name")}人"
  .name__index
    %h1.name__index__name 幸福度
    %h1.name__index__count="#{@kouhuku.count("name")}人"
  .name__index
    %h1.name__index__name 気遣い力
    %h1.name__index__count="#{@kidu.count("name")}人"
  .name__index
    %h1.name__index__name 真面目度
    %h1.name__index__count="#{@mazi.count("name")}人"
  .name__index
    %h1.name__index__name 面白さ
    %h1.name__index__count="#{@omo.count("name")}人"
  .name__index
    %h1.name__index__name 気が利く
    %h1.name__index__count="#{@ki.count("name")}人"
  .name__index
    %h1.name__index__name 明るさ
    %h1.name__index__count="#{@aka.count("name")}人"
  .name__index
    %h1.name__index__name コミュ力
    %h1.name__index__count="#{@komyu.count("name")}人"




